EGEJournal/Service References/ServiceEGE/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.165:7777/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EGEServiceRun" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListJournals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetListJournalsResult" nillable="true" type="q2:ArrayOfJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetListAreasResult" nillable="true" type="q3:ArrayOfArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPPE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPPEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetListPPEResult" nillable="true" type="q4:ArrayOfPPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBlankTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBlankTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetListBlankTypesResult" nillable="true" type="q5:ArrayOfBlankTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exam_date_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetJournalContentResult" nillable="true" type="q6:ArrayOfJournalContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="content" nillable="true" type="q7:JournalContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJournalContentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJournalContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="content" nillable="true" type="q8:JournalContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertJournalContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertJournalContentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJournalContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJournalContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteJournalContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPPEExamContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exam_date_id" type="xs:int" />
        <xs:element minOccurs="0" name="ppe_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPPEExamContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetPPEExamContentResult" nillable="true" type="q9:PPEExamContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUploadFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ppe_exam_id" type="xs:int" />
        <xs:element minOccurs="0" name="blank_folder_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUploadFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUploadFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePPEExamBlank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="exam_blanks" nillable="true" type="q10:PPEExamBlank" />
        <xs:element minOccurs="0" name="old_aud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePPEExamBlankResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPPEExamBlank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="exam_blanks" nillable="true" type="q11:PPEExamBlank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPPEExamBlankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPPEExamBlankResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePPEExamBlank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="exam_blanks" nillable="true" type="q12:PPEExamBlank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePPEExamBlankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePPEExamBlankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPPEExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exam_date_id" type="xs:int" />
        <xs:element minOccurs="0" name="area_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPPEExamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="GetListPPEExamResult" nillable="true" type="q13:ArrayOfPPEExam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsUploadPPEExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ppe_exam_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsUploadPPEExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusPPEExam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ppe_exam_id" type="xs:int" />
        <xs:element minOccurs="0" name="status_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusPPEExamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPPEMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EGEServiceRun" minOccurs="0" name="mes" nillable="true" type="q14:PPEExamMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPPEMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>